$colorDark: #111111;
$colorLight: whitesmoke;
$colorRadiant: yellow;

video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.25;
  filter: grayscale(100%);
}
.App {
  height: 100vh;
  transition: 0.3s;
}
.component-nav {
  position: relative;
  z-index: 15;
  transition: 0.3s;
}
nav {
  display: flex;
  width: 100%;
  min-height: 10vh;
  color: $colorLight;
  background-color: $colorDark;
  justify-content: space-around;
  align-items: center;
  position: relative;
  transition: 0.3s;
  box-shadow: 0 0.25rem $colorLight;
  z-index: 0;
}
nav:hover {
  color: $colorDark;
  background-color: $colorRadiant;
  box-shadow: 0 0.5rem $colorLight;
}
nav:hover img {
  transition: 0.2s;
}
nav:hover img {
  transition-delay: 0.3s;
  box-shadow: 0.35rem 0.35rem $colorDark;
}
.nav-toggle {
  position: absolute;
  left: 0vw;
  top: 9vh;
  font-size: 1.5rem;
  font-weight: bold;
  padding-top: 5px;
  margin-left: 1.5vw;
  width: 2vw;
  height: 3.5vh;
  fill: $colorLight;
  background-color: $colorDark;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 0px 0px 7px 7px;
  box-shadow: 0 0.35rem $colorLight;
  transition: 0.3s;
}
nav:hover .nav-toggle {
  background-color: $colorRadiant;
  .arrow {
    fill: $colorDark;
  }
}
.logo-img img {
  height: 8vh;
}
.nav-links {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}
.nav-links {
  position: relative;
  z-index: 5;
}
.nav-links div {
  font-weight: bold;
  text-transform: uppercase;
  margin: 5px;
  padding: 10px;
  transition: box-shadow 0.3s;
}
.nav-links div:hover {
  box-shadow: 0.35rem 0.35rem $colorDark;
}
.ld-mode {
  justify-content: center;
  align-items: center;
  height: 5vh;
  position: fixed;
  right: 0px;
  margin: 10px;
  padding: 5px 0;
  transition: 0.2s;
  background: none;
  border: none;
  color: $colorLight;
  font-family: Roobert;
}
.ld-mode .icon {
  margin: 0 auto;
  width: 2rem;
  fill: whitesmoke;
}
.ld-mode .text {
  font-size: 12px;
  font-weight: 100;
  background-color: $colorDark;
  border-radius: 7px;
  padding: 2px 5px;
  transition: 0.3s;
}
.ld-mode:hover {
  color: $colorDark;
}
.ld-mode:hover .text {
  font-weight: bold;
}
.ld-mode:focus {
  outline: 0;
}
.main-outer-container {
  transition: 0.3s;
}
.main-container {
  height: 90vh;
  padding: 0px 5vw;
  display: flex;
  transition: 0.3s;
  position: relative;
  z-index: 10;
}
.main-content {
  display: flex;
  justify-content: center;
  margin-top: 5vh;
}
.intro {
  width: 90vw;
}
.main-content .intro-text .title {
  font-size: 3rem;
  margin-bottom: 3vh;
}
.main-content .intro-text .description {
  line-height: 1.4rem;
  font-size: 1.15rem;
}
.outer-intro-text {
  width: 650px;
  height: 650px;
  margin-top: 9vh;
  margin-left: 11.5vw;
  display: flex;
}
.intro-text {
  display: flex;
  align-items: center;
  padding: 3vw;
  position: relative;
  z-index: 6;
}
.intro-image {
  display: flex;
  justify-content: center;
  align-items: center;
}
.grid-2c {
  height: 80vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 25px;
}
.btn-pointer {
  cursor: pointer;
}

.bg {
  position: absolute;
  transition: background-color 0.3s;
  z-index: 9;
}
.circle {
  border-radius: 50%;
}
.bgshape-halfcircle-1 {
  border-radius: 0 100% 0 0;
  width: 200px;
  height: 200px;
  left: 0vw;
  bottom: 0vh;
  transition: border-radius 0.75s, background-color 0.3s, filter 0.5s;
  animation: updown 3s infinite ease-in-out;
}
.bgshape-big {
  width: 650px;
  height: 650px;
  left: 16.5vw;
  top: 24vh;
  transition: border-radius 1s, box-shadow 1s, background-color 0.3s,
    transform 0.2s;
}
.bgshape-backbig {
  width: 300px;
  height: 300px;
  top: 15vh;
  left: 11vw;
  background-color: yellow;
  opacity: 0.6;
  transition: border-radius 1s, box-shadow 1s, filter 0.5s;
  animation: updown 3s infinite ease-in-out;
  z-index: 8;
}
.control-bigcircle-1 {
  clip-path: circle(50%);
  width: 650px;
  height: 650px;
  top: 24vh;
  margin-left: 16.5vw;
  z-index: 11;
}
.control-bigcircle-1:hover + .bgshape-big {
  box-shadow: 0 0 45px;
  ~ .bgshape-backbig,
  ~ .bgshape-halfcircle-1 {
    filter: blur(15px);
  }
}

@keyframes updown {
  0% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(0px, 5px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

@media only screen and (max-width: 1365px) {
  .intro-text {
    margin-left: 7.5vw;
  }
}
