.intro-text .title > span:after {
  content: "";
  font-size: 5rem;
  animation: typing-title 7.5s linear 1;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes typing-title {
  10% {
    content: "D";
  }
  12% {
    content: "Da";
  }
  14% {
    content: "Dax";
  }
  16% {
    content: "Daxx";
  }
  23% {
    content: "Dax";
  }
  24% {
    content: "Da";
  }
  25% {
    content: "D";
  }
  26% {
    content: "";
  }
  28% {
    content: "K";
  }
  30% {
    content: "Ki";
  }
  32% {
    content: "Kip";
  }
  34% {
    content: "Kipo";
  }
  36% {
    content: "Kipop";
  }
  38% {
    content: "Kipopo";
  }
  40% {
    content: "Kipopop";
  }
  42% {
    content: "Kipopopp";
  }
  44% {
    content: "Kipopoppo";
  }
  45% {
    content: "Kipopopp";
  }
  46% {
    content: "Kipopop";
  }
  52% {
    content: "Kipopopo";
  }
  53% {
    content: "Kipopop";
  }
  54% {
    content: "Kipopo";
  }
  55% {
    content: "Kipop";
  }
  56% {
    content: "Kipo";
  }
  57% {
    content: "Kip";
  }
  58% {
    content: "Ki";
  }
  59% {
    content: "K";
  }
  60% {
    content: "";
  }
  62% {
    content: "T";
  }
  64% {
    content: "Th";
  }
  66% {
    content: "Tha";
  }
  68% {
    content: "Thaq";
  }
  70% {
    content: "Thaqi";
  }
  72% {
    content: "Thaqif";
  }
  100% {
    content: "Thaqif.";
  }
}
